# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.swp
*.swo
*.DS_Store
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
node_modules/
webpack-bundle/

# Virtualenv
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
# Usually these files are written by a Python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
staticfiles/
media/

# Ignore all local env files
.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db

